#!/usr/bin/make -f

export GEM2DEB_TEST_RUNNER = --check-dependencies

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_installinit:
	dh_installinit  --no-start

override_dh_auto_clean:
	quilt push -a || true
	dh_auto_clean
